In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
from sklearn import linear_model

In [3]:
path = './zameen.csv'

df =pd.read_csv(path , delimiter="|")
df

,city,location,price,bedrooms,baths,size
0,Lahore,"DHA Phase 6, DHA Defence",74500000,5,6,4500.0
1,Lahore,"DHA Phase 7, DHA Defence",51500000,5,6,4500.0
2,Lahore,"Dream Gardens, Defence Road",7500000,1,1,518.0
3,Lahore,"DHA Phase 6, DHA Defence",73000000,5,6,4500.0
4,Lahore,"Bahria Town - Sector B, Bahria Town",5700000,1,1,472.0
...,...,...,...,...,...,...
16039,2_FECHS,"FECHS, E-11/2",70000000,9,10,4500.0
16040,2_FECHS,"FECHS, E-11/2",62500000,8,9,4500.0
16041,2_FECHS,"FECHS, E-11/2",61000000,8,9,4500.0
16042,2_FECHS,"FECHS, E-11/2",60000000,8,9,4500.0
16043,2_FECHS,"FECHS, E-11/2",60000000,8,9,4500.0

In [5]:
df.columns

Index(['city', 'location', 'price', 'bedrooms', 'baths', 'size'], dtype='object')

In [6]:
df.shape

(16044, 6)

In [7]:
df.drop(columns=[" "])
df.head()

KeyError: "[''] not found in axis"