### Import Impartant Libraires

In [11]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.model_selection  import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

#### Load Datasets

In [14]:
raw_mail_data = pd.read_csv("./mail_data.csv")
raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
# Replace the null values with null string
mail_data =raw_mail_data.where((pd.notnull(raw_mail_data)),"")

In [16]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [17]:
mail_data["Category"].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [20]:
# Checking rows and columns
mail_data.shape

(5572, 2)

### Label Encoding

In [24]:
# label spam mail :0 and non spam mail(ham mail) :1;
mail_data.loc[mail_data['Category'] == 'spam', "Category",]=0

In [28]:
mail_data.loc[mail_data['Category'] == 'ham', "Category",]=1

In [29]:
mail_data

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [30]:
# Separting the data as texts and label(catagory)
X =mail_data["Message"]
Y =mail_data["Category"]

In [31]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [32]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

#### Spliting Data into Test data and Split data

In [40]:
X_train ,X_test ,Y_train ,Y_test = train_test_split(X,Y , test_size=0.3, random_state=3)

In [41]:
X.shape

(5572,)

In [42]:
X_test.shape

(1672,)

In [43]:
X_train.shape

(3900,)

#### Feature Extraction

In [44]:
# Transform the text data to feature vector that can be used as input to the logistic regression
feature_extraction =TfidfVectorizer(min_df=1 ,stop_words='english',lowercase='True')